# ========================
# 忽略 Git 資料夾
# ========================
.git
.gitignore

# ========================
# 編輯器 / IDE 設定
# ========================
.vscode/
.idea/

# ========================
# Go build 產物
# ========================
bin/
*.out
*.exe
*.test

# ========================
# 私密設定檔
# ========================
.env
env.prod.yaml

# ========================
# Docker 相關垃圾
# ========================
docker-compose.override.yml
*.tar
.docker/

# ========================
# Node.js（未來可能前後端共 repo）
# ========================
node_modules/
npm-debug.log*
yarn-error.log

# ========================
# 系統垃圾
# ========================
.DS_Store
Thumbs.db

# ========================
# 暫時不上傳
# ========================
infra